{% macro about() %}
<div class="user-details">
  <h1> About Michael </h1>
  <img src="{{ config.base_url ~ "/img/avatar.jpg" }}" alt="Michael Schilonka">
  <p>
    Hello there, I am Michael - a business director and software engineer. I have a passion for technology and for great teamwork. As a tech leader, I strive to inspire and motivate my teams, 
    fostering an environment of collaboration, innovation, psychological safety, and continuous improvement.
    I value excellence and attention to detail to consistently deliver top-notch software products and services.
  </p>
  <p>
    You can find me at conferences where I speak about tech and startup topics. In my free time, I love speding time with my family. 
    I like to craft beer, do all kinds of sports, go camping with friends, play the keyboard and ukulele and develop new ideas. I frequently post my opinions 
    on <a aria-label="Michael's LinkedIn" target="_blank" href="https://www.linkedin.com/in/michael-schilonka/">LinkedIn</a>.
  </p>
</div>
<br>
<hr>
<div class="user-details">
  <h2> Tech Skills </h2>
</div>
<div class="user">
  <div class="tech">
    <h3> Software </br> Engineering </h3>
    <p>I have a variety of complementary <b>coding technologies</b> and <b>frameworks</b> under my belt with a strong affinity for backend and database applications.</p>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-rust-plain"></i></br>
    <i class="devicon-postgresql-plain-wordmark"></i>
    <i class="devicon-couchdb-plain-wordmark"></i>
    <i class="devicon-graphql-plain-wordmark"></i>
    
  </div>
  <div class="tech">
    <h3> Cloud Computing </br> & DevOps & Operations </h3>
    <p>Automatically building byte-perfect software container images in <b>CI/CD</b> and rolling them out in <b>Kubernetes</b> using GitOps: that is my passion.</p>
    <i class="devicon-linux-plain"></i>
    <i class="devicon-docker-plain-wordmark"></i>
    <i class="devicon-kubernetes-plain-wordmark"></i></br>
    <i class="devicon-azure-plain-wordmark"></i>
    <i class="devicon-googlecloud-plain-wordmark"></i>
    <i class="devicon-amazonwebservices-plain-wordmark"></i>
    
  </div>
  <div class="tech">
    <h3> Project </br> Management </h3>
    <p>I successfully managed software projects with high budgets, <b>heterogeneous</b> teams, technical <b>challenges</b> and many <b>stakeholders</b>.</p>
    <i class="devicon-git-plain-wordmark"></i>
    <i class="devicon-github-original-wordmark"></i>
    <i class="devicon-jira-plain-wordmark"></i>
    
  </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Getdeck" src="{{ config.base_url ~ "/img/getdeck.png" }}" />
  </div>
  <div class="contents">
    <h3> A Virtual Kubernetes for Development and Testing - Getdeck </h3>
    <span class="tag blue">Professional</span>
    <span class="tag red">Complex</span>
    <ul>
      <li>Kubernetes operator, custom extensions, webhooks</li>
      <li>Tauri UI, Rust, Python, REST API, Docker, mTLS</li>
      <li>Open Source Software</li>
    </ul>
    <p>Started in 2023, together with my team at Blueshoe, I developed a virtual Kubernetes solutions with a graphical user interface for developers. 
      This project is open source and available on <a href="https://github.com/Getdeck" target="_blank">GitHub</a>.
    </p>
    <a class="project-link" href="https://getdeck.dev" target="_blank">Check it out</a>
  </div>
  <hr>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Gefyra" src="{{ config.base_url ~ "/img/gefyra.png" }}"/>
  </div>
  <div class="contents-right">
    <h3> A Developer Tool for Local Containers and Kubernetes - Gefyra </h3>
    <span class="tag blue">Professional</span>
    <span class="tag red">Complex</span>
    <ul>
      <li>Python, Docker, Wireguard</li>
      <li>Kubernetes operator, custom extensions, webhooks</li>
      <li>Open Source Software</li>
    </ul>
    <p>Started in 2020, together with my team at Blueshoe, I created a development tool that runs Docker containers locally while having them connected to any 
      Kubernetes environment. This project is open source and available on <a href="https://github.com/gefyrahq/gefyra" target="_blank">GitHub</a>.
    </p>
    <a class="project-link" href="https://gefyra.dev" target="_blank">Check it out</a>
  </div>
  <hr>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="A converted motorhome" src="{{ config.base_url ~ "/img/bob/bob0.jpg" }}" />
  </div>
  <div class="contents">
    <h3>A Campervan Conversion</h3>
    <span class="tag yellow">Personal</span>
    <span class="tag red">Complex</span>
    <ul>
      <li>Hardware, concept working</li>
      <li>Electrical engineering</li>
      <li>Crafting</li>
      <li>Material mix</li>
    </ul>
    <p>In 2021/22, I converted a panel van into a motorhome. This ambitious project combined a wide range 
      of hard skills and passion.
    </p>
    <a class="project-link" href="/projects/bob-campervan">Read the story</a>
  </div>
  <hr>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="a bodyscanner" src="{{ config.base_url ~ "/img/bodyscanner/bodyscanner1.png" }}" />
  </div>
  <div class="contents-right">
    <h3>A Body Scanner for Medical Stocking</h3>
    <span class="tag blue">Professional</span>
    <span class="tag red">Complex</span>
    <ul>
      <li>Hardware, design, concept working</li>
      <li>3D depth data acquisition and processing</li>
      <li>Touch UI, progressive web app</li>
      <li>Medical data regulations and privacy enforcement</li>
      <li>Advanced project & rollout management</li>
    </ul>
    <p>In 2019, my team and I completed the development of a body scanner to capture the
      measurements of patients' lower bodies for customized medical stockings. This project covered almost all disciplines of 
      technology development.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  <hr>
</div>

<div class="user-projects">
  <div class="images-right">
    {% set sw1 = resize_image(path="/img/shoppingwindow/sw1.jpg", width=800, height=550, op="fill") %}
    <img alt="A digital shopping window" src="{{ sw1.url }}" />
  </div>
  <div class="contents">
    <h3>A Digital Shopping Window</h3>
    <span class="tag blue">Professional</span>
    <span class="tag red">Complex</span>
    <ul>
      <li>3D depth data acquisition and processing</li>
      <li>Body motion detection, gesture control</li>
      <li>Browser-based 3D content presentation</li>
      <li>Dynamic Wifi portal pages, app integration</li>
    </ul>
    <p>In 2015, I worked with my team to create a gesture-controlled digital shopping window that allows users to explore a fictional 
      3D world with product placement and combined smartphone checkout.
    </p>
    <a class="project-link" href="/projects/bob-campervan">Read more</a>
  </div>
  <hr>
</div>
{% endmacro projects %}