{% extends "base.html" %}

{% import "macros.html" as macros %}


{% block content %}

{{ macros::page_header() }}
<div class="container">
  <div class="content-page">
    {{ page.content|safe }}
  </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock content %}

